body{
padding:0;
border:0;
color: #fff;
 background:none;
 
}
h1{
color:#fff;
font-family: Ariel; 

}
container{
 color:#fff;
font-family: Ariel; 
font-size:15px; 
width:100;
 padding:12px 20px;
 border-radius:40px;
 margin:0 auto;
 possition:centre;
 top-margin:50px
 opcaity:0.6; 
}
