body{
padding:0;
border:0;
color: #fff;
 background:none;
 
}
h1{
color:#fff;
font-family: san-serif; 
font-size:15px; 
}
container{
 color:#fff;
font-family: san-serif; 
font-size:15px; 
width:100;
 padding:12px 20px;
 margin:0 auto;
 top-margin:50px
 opcaity:0.6; 
}
